<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jianzhang.mapper.RecordMapper">
    <insert id="insert" parameterType="com.example.jianzhang.model.RecordDO">
        INSERT INTO tb_record_detail(spend_category_id,user_id,amount,occur_time,create_time,update_time,delete_time)
        VALUES
        (#{spendCategory.id},#{user.id},#{amount},#{occurTime},#{createTime},#{updateTime},#{deleteTime})
    </insert>
</mapper>
